@import url('https://fonts.googleapis.com/css2? family=Poppins:ital,wght@0,200;0,400;0,700;1,300&display=swap');


html,
body {
    font-family: "Poppins", sans-serif; 
}

h1 {
    color: rgb(142, 13, 35)
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(202, 112, 127);
    padding: 50px;
    border: rgb(42, 10, 20) 10px solid;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}




    

